<table>
    <tr>
        <th><%= form.label :item_name %></th>
        <td><%= form.text_field :item_name %>
    </tr>
    <tr>
        <th><%= form.label :new_item_image %></th>
        <td><%= form.file_field :new_item_image %></td>
    </tr>
    <tr>
        <th><%= form.label :item_details %></th>
        <td><%= form.text_area :item_details, rows: 3 %></td>
    </tr>
    <tr>
        <th><%= form.label :category_id %></th>
        <td>
            <% options = [] %>
            <% @categories.each do |c| %>
                <% options.push([c.category_name, c.id]) %>
            <% end %>
            <%= form.select :category_id, options %>
        </td>
    </tr>
    <tr>
        <th><%= form.label :price %></th>
        <td><%= form.number_field :price %>
    </tr>
    <tr>
        <th><%= form.label :releace %></th>
        <td><%= form.date_select :releace, start_year: 1980, use_month_numbers: true %></td>
    </tr>
    <tr>
        <th><%= form.label :stock %></th>
        <td><%= form.number_field :stock, min: 0 %></td>
    </tr>
</table>