<div class="paragraph">
    <p>
        管理者としてログイン中
    </p>
</div>
<% if @items.present? %>
    <%= paginate @items %>
    <table class="items_table">
        <tr>
            <th>商品名</th>
            <th>カテゴリ</th>
            <th>価格</th>
            <th>在庫</th>
        </tr>
        <% @items.each do |item| %>
            <tr>
                <td><%= link_to item.item_name , admin_item_path(item) %></td>
                <td><%= Category.find(item.category_id).category_name %></td>
                <td><%= item.price %> 円</td>
                <td><%= item.stock %> 個</td>
            </tr>
        <% end %>
    </table>
    <%= paginate @items %>
<% else %>
    <p>商品がないか、商品一覧の取得に失敗しました</p>
<% end %>