<% @page_title = "新規商品登録"%>

<h2><%= @page_title %></h2>

<%= render "shared/errors", obj: @item %>

<%= form_for @item, url: admin_items_path do |form| %>
    <%= render "form", form: form %>
    <div class="submit">
        <%= form.submit "登録" %>
    </div>
<% end %>