<% if controller.kind_of?(Admin::Base) %>
  <h1 class="title"><%= link_to "HOBBY SHOP NS -for administrator-", :admin_root %></h1>
<% else %> 
  <h1 class="title"><%= link_to "HOBBY SHOP NS", :root %></h1>
<% end %>

<% options = [] %>
<% @categories = Category.order("id") %>
<% @categories.each do |c| %>
  <% options.push([c.category_name, c.id]) %>
<% end %>

<% if signed_in? #会員がログインしてるとき %> 
  <ul class="account-menu">
    <%= menu_link_to image_tag("cart.svg", size: "32x32", align: "center"), current_cart %>
    <%= menu_link_to signed_in?.user_name + "様", :edit_account %>
    <%= menu_link_to "サインアウト", '/logout', method: :delete,
        data: { confirm: "サインアウトしますか？" } %>
  </ul>
  <% if @header #ヘッダーメニューを表示させたくないページに設定してある変数%>
  <% else %>
    <div class="nav">
      <ul>
        <%= form_tag :search_items, method: :get, class: "search" do %>
          <li><%= text_field_tag "q", params[:q], placeholder: "キーワードを入力" %><%= submit_tag "キーワードで検索" %></li>
        <% end %>
        <%= form_tag :select_items, method: :get, class: "select" do %>
          <li><%= select_tag "c", options_for_select(options, ''), include_blank: true %><%= submit_tag "カテゴリで絞り込む" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% elsif controller.kind_of?(Admin::Base) #管理者ログインのとき %>
  <% if current_admin.present? %>
    <ul class="account-menu">
      <%= current_admin.admin_name %>
      <%= menu_link_to "サインアウト", '/logout', method: :delete,
          data: { confirm: "サインアウトしますか？" } %>
    </ul>
    <div class="nav">
      <ul>
        <%= form_tag :search_admin_items, method: :get, class: "search" do %>
          <li><%= text_field_tag "q", params[:q], placeholder: "キーワードを入力" %><%= submit_tag "キーワードで検索" %></li>
        <% end %>
        <%= form_tag :select_admin_items, method: :get, class: "select" do %>
          <li><%= select_tag "c", options_for_select(options, ''), include_blank: true %><%= submit_tag "カテゴリで絞り込む" %></li>
        <% end %>
        <%= menu_link_to "カテゴリ一覧", admin_categories_path %>
        <%= menu_link_to "商品を追加する", new_admin_item_path %>
        <%= menu_link_to "注文一覧", admin_orders_path %>
        <%= menu_link_to "レビュー一覧", admin_reviews_path %>
      </ul>
    </div>
  <% end %>
<% else #ログインしていないとき %>
  <% if request.path_info != '/login' %>
    <ul class="account-menu">
      <%= menu_link_to image_tag("cart.svg", size: "32x32", align: "center"), current_cart %>
      <li><%= "ゲスト様" %></li>
      <%= menu_link_to "サインイン", '/login'%>
    </ul>
    <% if @header #ヘッダーメニューを表示させたくないページに設定してある変数%>
    <% else %>
      <div class="nav">
        <ul>
          <%= form_tag :search_items, method: :get, class: "search" do %>
            <li><%= text_field_tag "q", params[:q], placeholder: "キーワードを入力" %><%= submit_tag "キーワードで検索" %></li>
          <% end %>
          <%= form_tag :select_items, method: :get, class: "select" do %>
            <li><%= select_tag "c", options_for_select(options, ''), include_blank: true %><%= submit_tag "カテゴリで絞り込む" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>