<h1 class="title"><%= link_to "HOBBY SHOP NS", :root %></h1>
<% if signed_in? %>
  <ul class="account-menu">
    <%= menu_link_to signed_in?.user_name + "様", :edit_account %>
    <%= menu_link_to "サインアウト", '/logout', method: :delete,
        data: { confirm: "サインアウトしますか？"} %>
  </ul>
<% else %>
  <% if request.path_info != '/login' %>
    <ul class="account-menu">
      <%= "ゲスト様" %>
      <%= menu_link_to "サインイン", '/login'%>
    </ul>
  <% end %>
<% end %>
<div class="nuv">
  <ul>
    <li>あとでここをテキストボックスにする</li>
    <%= menu_link_to "キーワードで検索", "#" %>
    <%= menu_link_to "カテゴリで検索", "#" %>
    <%= menu_link_to "ショッピングカート", '#' %>
  </ul>
</div>