<% if controller.kind_of?(Admin::Base) %>
  <h1 class="title"><%= link_to "HOBBY SHOP NS -for administrator-", :admin_root %></h1>
<% else %> 
  <h1 class="title"><%= link_to "HOBBY SHOP NS", :root %></h1>
<% end %>

<% if signed_in? #会員がログインしてるとき %> 
  <ul class="account-menu">
    <%= menu_link_to signed_in?.user_name + "様", :edit_account %>
    <%= menu_link_to "サインアウト", '/logout', method: :delete,
        data: { confirm: "サインアウトしますか？" } %>
  </ul>
<% elsif controller.kind_of?(Admin::Base) #%>
  <% if current_admin.present? %>
    <ul class="account-menu">
      <%= current_admin.admin_name %>
      <%= menu_link_to "サインアウト", '/logout', method: :delete,
          data: { confirm: "サインアウトしますか？" } %>
    </ul>
    <div class="nav">
    <ul>
      <%= form_tag :search_admin_items, method: :get, class: "search" do %>
        <li><%= text_field_tag "q", params[:q] %></li>
        <%= submit_tag "キーワードで検索" %>
      <% end %>
      <%= menu_link_to "カテゴリで検索", "#" %>
      <%= menu_link_to "商品を新しく登録する", new_admin_item_path %>
      <%= menu_link_to "注文一覧", "#" %>
    </ul>
  </div>
  <% end %>
<% else %>
  <% if request.path_info != '/login' %>
    <ul class="account-menu">
        <%= "ゲスト様" %>
        <%= menu_link_to "サインイン", '/login'%>
      </ul>
  <% end %>
  <div class="nav">
    <ul>
      <%= form_tag :search_items, method: :get, class: "search" do %>
        <li><%= text_field_tag "q", params[:q] %></li>
        <%= submit_tag "キーワードで検索" %>
      <% end %>
      <%= menu_link_to "カテゴリで検索", "#" %>
      <%= menu_link_to "ショッピングカート", current_cart %>
    </ul>
  </div>
<% end %>