<% $total_pay = 0 %>
<% @page_title = "ショッピングカート" %>
<h2>ショッピングカートの商品</h2>
<div class="paragraph">
  <p>
    現在ショッピングカートに追加されている商品を確認できます<br>
    <br>
    個数変更を行う際は個数を入力し、個数変更ボタンをクリックしてください<br>
    削除ボタンを押すと商品をカートから削除することができます
  </p>
</div>
<% if @details.present? %>
    <table>
      <tr>
        <th>商品名</th><th>個数</th><th>単価</th><th colspan="2">操作</th>
      </tr>
      <% @details.each do |d| %>
        <tr>
          <td><%= link_to "#{Item.find(d.item_id).item_name}", Item.find(d.item_id) %></td>
            <%= form_for d, url: '/update_item', method: :post do |f| %>
              <%= hidden_field_tag :id, d.id %>
              <%= hidden_field_tag :item_id, d.item_id %>
              <% item_total = 0 %>
              <td><%= f.number_field :quantitiy, min: 1 %> 個</td>
              <td><%= tanka = Item.find(d.item_id).price %> 円</td>
              <% kosuu = d.quantitiy.to_i %>
              <% item_total = tanka * kosuu %>
              <% $total_pay += item_total %>
              <td><%= f.submit "個数変更" %></td>
            <% end %>
            <%= form_for d, url: '/delete_item', method: :delete do |g| %>
              <%= hidden_field_tag :id, d.id %>
              <%= hidden_field_tag :item_id, d.item_id %>
              <td><%= g.submit "削除" %></td>
            <% end %>
        </tr>
      <% end %>
    </table>
    <hr>
    <div class="pay">
      <h3>合計金額：<%= $total_pay %>円<h3>
      <%= link_to "購入へ進む", new_order_path %>
    </div>

<% else %>
  <p>カートに商品がありません</p>
<% end %>