<% @page_title = @item.item_name %>

<% if session[:errors] %>
  <% JSON.parse(session[:errors]).each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<h2><%= @item.item_name %></h2>
<div class="paragraph">
  <%= @item.item_details %>
  <table>
    <tr>
      <th>商品名</th><td><%= @item.item_name %></td>
    </tr>
    <tr>
      <th>カテゴリ</th><td><%= @item.category.category_name %></td>
    </tr>
    <tr>
      <th>価格</th><td><%= @item.price %> 円</td>
    </tr>
    <tr>
      <th>発売日</th><td><%= @item.releace&.strftime("%Y年%m月%d日") %></td>
    </tr>
  </table>

  <% if (@item.stock < 5) && (@item.stock > 0) %>
    <p>在庫が残りわずかの商品です！</p>
  <% end %>

  <div class="cart_form">
    <% if @item.stock != 0 %>
      <%= form_tag '/add_item' do %>
        <%= hidden_field_tag(:item_id, @item.id) %>
        <%= number_field_tag "quantitiy", 1, min: 1 %>
        <%= submit_tag "カートに追加" %>
      <% end %>
    <% end %>
  </div>
</div>

<h3>この商品のレビュー</h3>
<%= link_to "レビューを書く", new_item_review_path(@item) %>
<% if @item.reviews.present? %>
<table class="r_table">
  <tr>
    <th>平均点数</th>
    <% total = 0.0 %>
    <% @item.reviews.each do |r| %>
      <% total += r.score %>
    <% end %>
    <% kensu = @item.reviews.count %>
    <td><%= (total/kensu).round(1) %> 点</td>
  </tr>
</table>
<% stars = ['', '★', '★★', '★★★', '★★★★', '★★★★★'] %>
<div>
  <% @item.reviews.each do |r| %>
    <div class="review">
      <h4><%= User.find(r.user_id).nickname %>さん：<%= stars[r.score] %></h4>
      <p><%= r.text %></p>
    </div>
  <% end %>
</div>
<% else %>
  <p>
    この商品へのレビューは存在しません
  </p>
<% end %>