<% @page_title = @item.item_name %>

<%# <%= render "shared/errors", obj: @detail %> %>
<% if session[:errors] %>
  <% JSON.parse(session[:errors]).each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<h2><%= @item.item_name %></h2>
<div class="paragraph">
  <%= @item.item_details %>
  <table>
    <tr>
      <th>商品名</th><td><%= @item.item_name %></td>
    </tr>
    <tr>
      <th>カテゴリ</th><td><%= @item.category.category_name %></td>
    </tr>
    <tr>
      <th>価格</th><td><%= @item.price %></td>
    </tr>
    <tr>
      <th>発売日</th><td><%= @item.releace&.strftime("%Y年%m月%d日") %></td>
    </tr>
  </table>

  <% if (@item.stock < 5) && (@item.stock > 0) %>
    <p>在庫が残りわずかの商品です！</p>
  <% end %>

  <% if @item.stock != 0 %>
    <%= form_tag '/add_item' do %>
      <%= hidden_field_tag(:item_id, @item.id) %>
      <%= number_field_tag "quantitiy", 1, min: 1 %>
      <%= submit_tag "カートに追加" %>
    <% end %>
  <% end %>
</div>