<% @page_title = "カテゴリ一覧"%>

<h2><%= @page_title %></h2>
<div class="paragraph">
    <p>
        登録されている商品カテゴリを確認することができます<br><br>
        新しいカテゴリの追加は<%= link_to "こちら", "#" %>
    </p>
</div>

<% if @categories.present? %>
    <table>
        <tr>
            <th>カテゴリ名</th>
            <th>登録されている商品数</th>
            <th>操作</th>
        </tr>
        <% @categories.each do |c| %>
            <tr>
                <td><%= c.category_name %></td>
                <td><%= Item.where(category_id: c.id).count %></td>
                <td><%= link_to "削除", admin_category_path(c), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
            </tr>
        <% end %>
    </table>
<% end %>