<% @page_title = "投稿したレビュー" %>
<% @header = true %>

<h2><%= @page_title %></h2>

<div class="paragraph">
    <p>
        投稿したレビューの一覧です<br>
    </p>
</div>

<% if @reviews.present? %>
    <table>
        <tr>
            <th>商品名</th>
            <th>点数</th>
            <th>コメント</th>
            <th>操作</th>
        </tr>
        <% @reviews.each do |r| %>
            <tr>
                <td><%= Item.find(r.item_id).item_name %></td>
                <td><%= r.score %></td>
                <td><%= r.text %></td>
                <td><%= link_to "削除", r, method: :delete, data: {confirm: "レビューを削除しますか"} %></td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p>
        投稿したレビューがありません<br>
        商品ページからレビューを投稿することができます！
    </p>
<% end %>