<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" type="text/css" href="https://mtsg.github.io/kitstrap/d/kitstrap.css"> -->
  </head>

  <body>
    <header>
		  <%= render "shared/header" %>
		</header>
		<main>
      <% if flash.notice %>
        <p class="notice"><%= flash.notice %></p>
      <% end %>
		  <%= yield %>
		</main>
		<footer>
		  <%= render "shared/footer" %>
      <div class="debug">
        <%= debug(params) if Rails.env.development? %>
      </div>
		</footer>
  </body>
</html>
