<% @page_title = "会員情報確認" %>
<% @header = true %>

<h2><%= @page_title %></h2>
<div class="paragraph">
  <p>
    会員情報の確認と更新を行うことができます<br>
    <br>
    パスワードの更新は<%= link_to  "こちら", :edit_password %>から行えます
  </p>
</div>

<div class="user_form">
  <%= form_for @user, as: 'account', url: :account do |form| %>
    <%= render "shared/user_form", form: form %>
    <div class="submit"><%= form.submit "更新" %></div>
  <% end %>
</div>

<h3>その他のサービス<h3>
<ul>
  <%= menu_link_to "注文履歴", orders_path %>
  <%= menu_link_to "レビュー一覧", reviews_path %>
</ul>

<br>
<div id="des">
  <%= link_to "退会する", :account, method: :delete, data: { confirm: "本当に退会しますか？" } %>
</div>